@font-face {
  font-family: NotoSans;
  src: url(/src/public/fonts/NotoSans.ttf)
}

@font-face {
  font-family: 'Material Icons';
  src: url(/src/public/fonts/MaterialIcons.ttf)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: NotoSans, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #424242;
}

a:hover {
  color: #D70F64;
}

.app-logo {
  display: flex;
}

.logo {
  width: 2em;
  color: white;
  margin-right: 0.5em;
}

.white-text {
  color: white
}

/* Header */
header {
  width: 100%;
  min-height: 56px;
  transition: min-height 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px -6px rgba(0, 0, 0, 0.2);
  position: sticky;
  background: white;
  top: 0;
  z-index: 9;
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 9fr;
  background: white;
}

.hamburger {
  display: block;
  font-size: 2em;
  margin: auto auto;
  margin-left: 0.5em;
  color: #D70F64;
  
}

.header-title {
  font-weight: 300;
  font-size: 2em;
  display: inline-block;
  color: #D70F64;
  margin-right: 0.5em;
}

.app-logo {
  display: none;
}

/* Nav */
#navigation {
  display: none;
}

#drawer {
  width: 250px;
  height: 100vh;
  position: absolute;
  top: 0;
  background: white; 
  z-index: 10;

  transform: translate(-250px, 0);
  transition: transform 0.3s ease-in-out;
}

#drawer.open {
  transform: translate(0, 0);
}

#navigation .nav-item {
  display: inline-block;
  font-size: 1em;
  margin-left: 2em;
  
}

#drawer .nav-item {
  width: 100%;
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  display: block;
  font-size: 1.2em;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-bottom: 2em;
  background: #D70F64;
}

.nav-header-logo {
  width: 2em;
  margin-right: 1em;
}

.nav-header-title {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 1em;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  filter: brightness(60%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 2.8em;
}

.submenu {
  text-align: center;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #D70F64;
}

.divider {
  width: 80px;
  border-bottom: 1px solid #D70F64;
  margin-bottom: 1em;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.restaurant-item {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restaurant-item:hover {
  cursor: pointer;
  width: 300px;
  background: #D70F64;
}

.restaurant-item:hover .restaurant-item-text {
  color: white;
}
  

.restaurant-item:hover .star {
  color: white;
}

.restaurant-item:hover .rating-text {
  color: white;
}

.restaurant-item-image-cover {
  position: relative;
}
.restaurant-item-image {
  width: 300px;
  height: 200px;
  object-fit: stretch;
  margin-bottom: 1em;
}

.restaurant-item-image-location {
  position: absolute;
  bottom: 2em;
  right: 0.5em;
  padding: 0.2em 0.5em;
  background: #D70F64;
  color: white;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-item-image:hover {
  cursor: pointer;
}

.restaurant-item-text {
  color: #424242;
}

.hero-content-title {
  font-weight: 300;
  text-shadow: 2px 2px 10px black;
}

footer {
  width: 100%;
  min-height: 56px;
  transition: min-height 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -4px 8px -6px rgba(0, 0, 0, 0.2);
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pink {
  color: #D70F64;
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
  width: 1.3em;
  color: white;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  color: #D70F64;
}

.rating-text {
  color: #424242;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #D70F64;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}