@media screen and (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .app-logo {
    display: flex;
  }

  #navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
  }

  #drawer {
    display: none;
  }

  .header-content {
    width: 100%;
    padding-left: 2em;
  }

  .restaurant-list {
    display: grid;
    gap: 2em;
    justify-content: center;
    grid-template-columns: 300px 300px;
  }

  .title {
    font-size: 4em;
  }
}

@media screen and (min-width: 1000px) {
  .header-content {
    width: 80%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 80%;
  }
  
  .restaurant-list {
    display: grid;
    gap: 2em;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
  }

}