<a href = "#maincontent" class = 'skip-link'>Go to content</a>
<header>
  <div class = 'header-content'>
    <a href = "#" class = 'hamburger'>☰</a>
    <a href = "#" class = 'app-logo'>
      <img src = "/src/public/icon/hamster-pink.svg" class = 'logo' alt = "foodhamster-logo">
      <h1 class = 'header-title'>FoodHamster</h1>
    </a>
    <nav id = 'navigation'>
      <ul class = 'nav-list'>
        <li class = 'nav-item'><a href = "#">Home</a></li>
        <li class = 'nav-item'><a href = "#">Favorite</a></li>
        <li class = 'nav-item'><a href = "https://www.linkedin.com/in/william-andrea-2206b8135/">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>

<nav id = 'drawer'>
  <ul class = 'nav-list'>
    <div class = 'nav-header'>
      <img src = "/src/public/icon/hamster.svg" class = 'nav-header-logo' alt = "foodhamster-logo">
      <h1 class = 'nav-header-title'>foodhamster</h1>
    </div>
    <li class = 'nav-item'><a href = "#">Home</a></li>
    <li class = 'nav-item'><a href = "#">Favorite</a></li>
    <li class = 'nav-item'><a href = "https://www.linkedin.com/in/william-andrea-2206b8135/">About Us</a></li>
  </ul>
</nav>

<main id = "maincontent">
  <div class = 'container'>
    <div class = 'hero'>
      <img class = 'hero-image' src = "/src/public/images/heros/hero-image.jpg" alt = "hero-image">
      <div tabindex = 0 class = 'hero-content'>
        <h2 class = 'hero-content-title title'>FoodHamster</h2>
        <h3 class = 'hero-content-title'>"A healty outside starts from the inside"</h3>
      </div>
    </div>

    <h2 class = 'submenu' tabindex = 0>Our Restaurant</h2>
    <div class = 'divider'></div>
    <div class = 'restaurant-list'>
      {{#each this}}
        <a href = "https://www.google.com/search?q={{name}}" class = 'restaurant-item'>
          <div class = 'restaurant-item-image-cover'>
            <img class = 'restaurant-item-image' src = "{{pictureId}}" alt = "restaurant-image">
            <p class = 'restaurant-item-image-location'><i class = 'material-icons location'>location_on</i>{{city}}</p>
          </div>
          <p class = 'restaurant-item-text'>{{name}}</p>
          <div class = 'rating'>
            <i class = 'material-icons star'>star_rate</i>
            <p class = 'rating-text'>{{rating}}</p>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</main>

<footer>
  <div class = 'footer-content'>
    <p>copyright &copy; 2020 - <span class = 'pink'>FoodHamster</span></p>
  </div>
</footer>